@model DistanceConverterModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Distance Converter";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
		<h1 class="pt-3 pb-4">Distance Converter</h1>

	<div class="container mt-3">
		<form asp-action="Index" method="post">

			<div class="col">
				<label asp-for="DistanceInInches" class="form-label">Distance in inches</label>
			</div>
			<div class="col">
				<input asp-for="DistanceInInches" class="form-control" />
			</div>
			<div class="col mt-3">
				<span asp-validation-for="DistanceInInches" class="text-danger"></span>
				<button type="button" class="btn btn-primary">Convert to cm</button>
			</div>
			<div class="col">
				<output class="form">@ViewBag.IN</output>
				<label class="form-label" value="@ViewBag.IN"></label>
			</div>
		</form>
	</div>
</body>
</html>